.mainContainer {
  margin: 20px auto;
  width: 1200px;
}

.bgcolorSelect {
  display: inline-block;
  width: 300px;
}

.canvasWrapper {
  overflow: hidden;
  padding: 2px;
}

.paletteHeader .colorInput {
  cursor: pointer;
  width: 40px;
}

.gifButton {
  margin: 6px 10px 0 10px;
}

.paletteHeader .movieName { width: 300px; }

#timelinecomponent {
  display: inline-block;
}

#playcontrolscomponent {
  display: inline-block;
  position: relative;
  top: -8px;
}
