.mainContainer {
  margin: 20px;
}

.canvasWrapper {
  overflow: hidden;
  padding: 2px;
}

#timelinecomponent {
  display: inline-block;
}

#playcontrolscomponent {
  display: inline-block;
  position: relative;
  top: -8px;
}
