.timeline {
  background-color: #ccf;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  margin: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 700px;
}

.frames {
  height: 24px;
  width: 100%;  /* starting, updated dynamically */
}
