.toolbox {
  border: 1px solid #000;
  float: right;
  height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 245px;
}

.toolboxGridContainer {
  width: 245px;
}

.toolboxGrid {
  text-align: center;
  width: 230px;
}

.toolboxGridEl,
.toolboxGridImageEl {
  display: inline-block;
  height: 80px;
  margin: 8px;
  width: 80px;
}

.toolboxGridImageEl { cursor: -webkit-grab; }
.toolboxGridImageEl:active { cursor: -webkit-grabbing; }
