<div>
  <div style="float: right; width: 50px;">&nbsp;</div>
  <div style="float: right; width: auto;">
    <div
      ng-controller="EditObjectController"
      style="border: 2px solid; box-shadow: 10px 10px 5px #888888;">
      <div ng-show="getEditObject()">
        <div>EDITING {{getEditObject().id}}</div>
        <div ng-show="getEditObjectType()=='text'">
          <label>Text:</label> <input
            type="text"
            ng-change="updateText()"
            ng-model="selectedText"
            placeholder="Enter a URL here">
        </div>
        <a
          class="button"
          ng-click="eraseObject()">Erase (but keep history)</a>
        <br />
        <a
          class="button"
          ng-click="deleteObject()">Delete (completely)</a>
        <br />
      </div>
    </div>
    <div height="100px">&nbsp;</div>
    <div
      ng-controller="AddObjectController"
      style="border: 2px solid; box-shadow: 10px 10px 5px #888888;">
      <label>URL:</label> <input
        type="text"
        ng-model="newImageUrl"
        placeholder="Enter a URL here" />
      <a
        class="button"
        ng-click="addImage()">Add Image</a>
      <br />
      <a
        class="button"
        ng-click="addText()">Add Text</a>
      <br />
    </div>
  </div>

  <div style="float: right; width: 50px;">&nbsp;</div>
  <div
    ng-controller="EditPanelController"
    style="float: right; width: auto; border: 2px solid; box-shadow: 10px 10px 5px #888888;">
    <div>ON FRAME {{frame()}}</div>
    <a
      class="button"
      ng-click="prevFrame()">Previous Frame</a>
    <br />
    <a
      class="button"
      ng-click="nextFrame()">Next Frame</a>
    <br />
    <a
      class="button"
      ng-click="play()">Play</a>
    <br />
    <a
      class="button"
      ng-click="stop()">Stop</a>
    <br />
    <a
      class="button"
      ng-click="save()">Save</a>
    <br />
    <a
      class="button"
      ng-click="load()">load</a>
    <br />
    <a
      class="button"
      ng-click="makeGif()">To animated GIF</a>
    <br />
  </div>

  <div
    ng-controller="PaletteController"
    style="overflow: hidden;">
    <canvas
      width="840"
      height="560"
      style="border: 1px solid #ccc"
      palette
      id="palette"></canvas>
  </div>

  <div style="text-align: center;">
    <canvas
      style="width: 800px; height: 300px; margin: auto;"
      id="timeline"></canvas>
  </div>

  <div>
    <img id="gifImage"></img>
  </div>

</div>

